
.list{
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/J9H9WF0/sparkly-light-particles-falling-down-a-silver-white-gradient-background_rpmc6ykv__F0000.png");
  
}
.pagination{
   clear: both;
    margin-left: 25%;
    font-size: 25px;
}
